<!-- <div class="container">
  <h1>My Events</h1>
  <table *ngIf="events">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Venue</th>
        <th>No. of Tickets</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Event Time</th>
      </tr>
    </thead>
    <tbody *ngFor="let event of events">
      <tr>
        <td>{{ event.event_name }}</td>
        <td>{{ event.venue }}</td>
        <td>{{ event.no_tickets }}</td>
        <td>{{ event.start_date }}</td>
        <td>{{ event.end_date }}</td>
        <td>{{ event.event_time }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
