<div class="home-page">
  <nav class="nav-bar">
    <div class="logo-div">
      <h1 class="logo-name">DP</h1>
      <h5 class="logo-theme">Organizing your events</h5>
    </div>
    <input
      class="search-bar"
      type="text"
      id="searchInput"
      (keyup)="searchEvents(searchText.value)"
      #searchText
      placeholder="Search Events"
    />

    <div class="id-div">
      <h2>MY EVENTS</h2>
      <button class="my-events-btn" type="button">{{ events.length }}</button>

      <button class="create-btn" type="button" (click)="openCreateEventModal()">
        <i class="bi bi-plus-lg"></i>NEW EVENT
      </button>

      <button
        mat-button
        [matMenuTriggerFor]="aftermenu"
        class="user-id-btn"
        style="color: white; width: 50px; height: 50px; border-radius: 50%"
        type="button"
      >
        {{ userData.email[0] | titlecase }}
      </button>
      <mat-menu #aftermenu="matMenu" yPosition="below">
        <button
          mat-menu-item
          type="button"
          style="width: 100%"
          (click)="logout()"
        >
          LOGOUT
        </button>
      </mat-menu>
    </div>
  </nav>

  <div class="page-body">
    <h1 class="event-header">Your Events</h1>
    <div class="events-detail" *ngIf="events?.length; else noData">
      <div class="event-card" *ngFor="let event of events">
        <app-event-card
          [event]="event"
          (reloadAllEvents)="getEvents()"
        ></app-event-card>
      </div>
    </div>
    <ng-template #noData>
      <h3>Click on the create events button above to create an event</h3>
    </ng-template>
  </div>
</div>
