<nav class="nav-bar">
  <h2>Welcome Back, Dear User!</h2>
  <button
    class="btn btn-outline-primary round-button mx-2"
    type="button"
    (click)="logout()"
  >
    LOGOUT
  </button>
</nav>
<div class="page-body">
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Enter your search" />
    <button onclick="search()">Search</button>
    <button
      class="btn btn-success round-button"
      type="button"
      (click)="openCreateEventModal()"
    >
      Create Event
    </button>
  </div>

  <h1>My Events</h1>
  <div class="event-container" *ngIf="events?.length; else noData">
    <table *ngIf="events">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Event Venue</th>
          <th>No. of Tickets</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Event Time</th>
          <th class="action-column">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let event of events">
        <tr>
          <td>{{ event.event_name }}</td>
          <td>{{ event.venue }}</td>
          <td>{{ event.no_tickets }}</td>
          <td>{{ event.start_date }}</td>
          <td>{{ event.end_date }}</td>
          <td>{{ event.event_time }}</td>
          <td class="i-action">
            <button class="btn btn-success round-button" type="button">
              <i
                class="bi bi-trash"
                mat-raised-button
                (click)="openDialog({action: 'deleteEvent', modal: 'DeleteModalComponent', extradata: event})"
              ></i>
            </button>
            <button class="btn btn-success round-button" type="button">
              <i class="bi bi-link-45deg"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <h3>Click on the create events button above to create an event</h3>
  </ng-template>
</div>
