<div class="home-page">
  <nav class="nav-bar">
    <h1 class="logo-name">DP</h1>
    <h5 class="logo-theme">Organizing your events</h5>
    <input
      class="search-bar"
      type="text"
      id="searchInput"
      (keyup)="searchEvents(searchText.value)"
      #searchText
      placeholder="Search Events"
    />
    <h2>MY EVENTS</h2>
    <button
      class="total-events-btn"
      type="button"
      style="background-color: rgb(90, 75, 104); color: white"
      *ngIf="events"
    >
      {{ events.length }}
    </button>

    <button
      class="create-btn"
      type="button"
      style="background-color: rgb(95, 41, 67); color: white"
      (click)="openCreateEventModal()"
    >
      <i class="bi bi-plus-lg"></i>NEW EVENT
    </button>

    <button
      mat-button
      [matMenuTriggerFor]="aftermenu"
      class="user-id-btn"
      style="color: white; width: 50px; height: 50px; border-radius: 50%"
      type="button"
    >
      {{ userData.email[0] | titlecase }}
    </button>
    <mat-menu #aftermenu="matMenu" yPosition="below" class="logout-menu">
      <button
        mat-menu-item
        type="button"
        style="width: 100%"
        (click)="logout()"
      >
        LOGOUT
      </button>
    </mat-menu>
  </nav>

  <div class="page-body">
    <div class="header">
      <h1 class="event-header">Your Events</h1>
      <button mat-button [matMenuTriggerFor]="menu">
        <i
          class="bi bi-filter-square"
          style="font-size: 24px; cursor: pointer"
        ></i>
      </button>
      <mat-menu #menu="matMenu" class="mat-menu-content">
        <button (click)="sortEventsByStartDate()" mat-menu-item>
          start-date
        </button>
        <button (click)="sortEventsByEndDate()" mat-menu-item>end-date</button>
        <button (click)="sortEventsByTime()" mat-menu-item>time</button>
      </mat-menu>
    </div>

    <div class="events-detail" *ngIf="events?.length; else noData">
      <div class="event-card" *ngFor="let event of filteredEvents">
        <app-event-card
          [event]="event"
          (reloadAllEvents)="getEvents()"
          
        ></app-event-card>
      </div>
    </div>
    
    <ng-template #noData>
      <h3>Click on New event button, to create your events</h3>
    </ng-template>
  </div>
</div>
