.nav-bar {
  padding: 20px;
  height: 20px;
  background-color: rgb(138, 84, 18);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
  color: brown;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(138, 84, 18);
  color: white;
}

.page-body {
  margin: 10px;
  text-align: center;
}

.search-container {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 40%;
}

h3 {
  padding: 70px;
}
