.home-page {
  background-color: hsla(300, 7%, 8%, 0.329);
  min-height: 100vh;
}

.nav-bar {
  height: 70px;
  background-color: hsla(300, 18%, 11%, 0.943);
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo-name {
  font-size: 28px;
  color: darkgrey;
}

.logo-theme {
  margin-right: 15%;
  color: darkgrey;
}

.search-bar {
  width: 350px;
  border-radius: 10px;
  margin-right: 10%;
  border: none;
  font-size: 10px;
  background-color: rgb(205, 198, 198);
  color: rgb(51, 45, 45) m;
}

.menu-btn {
  background-color: none;
}
.log-out-menu {
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
  justify-content: center;
}

h2 {
  font-size: 9px;
  color: rgb(225, 199, 199);
  padding-top: 15px;
}

.total-events-btn {
  align-items: center;
  width: 30px;
  height: 20px;
  border-radius: 8px;
  margin-right: 35px;
  color: darkgrey;
  background-color: rgba(225, 46, 79, 0.505);
}

.create-btn {
  border-radius: 15px;
  background-color: rgba(225, 46, 79, 0.505);
  font-size: 8px;
  width: 96px;
  align-items: center;
  height: 26px;
}

.user-id-btn {
  background-color: rgba(225, 46, 79, 0.505);
  align-items: center;
  font-size: 24px;
}

input {
  padding: 10px;
  width: 40%;
}

.page-body {
  padding: 32px 32px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.events-detail {
  display: flex;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 2px;
}

::-webkit-scrollbar-track {
  border: 1px solid none;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 5px;
}

.event-card {
  background-color: whitesmoke;
  height: 350px;
  min-width: 280px;
  margin: 42px 24px 16px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

mat-slider {
  width: 300px;
}
