<div class="event-container">
  <h1>Create Your Event</h1>
  <div class="event-body">
    <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
      <label for="name">Event Name:</label>
      <input type="text" formControlName="eventName" required />

      <label for="venue">Event Venue:</label>
      <input type="text" formControlName="eventVenue" required />

      <label for="no.of tickets">no. of ticket</label>
      <input type="number" formControlName="totalTickets" required />

      <label for="event-date">Event Date:</label>
      <mat-form-field>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="startDate"
          />
          <input matEndDate placeholder="End date" formControlName="endDate" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <label for="event-time">Event Time:</label>
      <input type="time" formControlName="eventTime" required />

      <button type="submit">Create Event</button>
    </form>
  </div>
</div>
