<div class="login-container">
  <div>
    <img
      src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
      alt="illustration"
      class="illustration"
    />
  </div>
  <div>
    <h1 class="opacity">LOGIN</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="EMAIL" formControlName="email" />
      <i
        style="color: tomato"
        *ngIf="
          loginForm.controls['email'].invalid &&
          (loginForm.controls['email'].dirty ||
            loginForm.controls['email'].touched)
        "
        ><p>Please Enter Valid Email</p></i
      >
      <br />
      <input
        type="password"
        placeholder="PASSWORD"
        formControlName="password"
      />
      <i
        style="color: tomato"
        *ngIf="
          loginForm.controls['password'].invalid &&
          (loginForm.controls['password'].dirty ||
            loginForm.controls['password'].touched)
        "
        ><p>Password must be atleast 7 characters</p></i
      >
      <br />

      <button
        type="submit"
        [disabled]="loginForm.invalid || loading"
        class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300"
      >
        {{ loading ? "Loggin In..." : "LOGIN" }}
      </button>
    </form>
    <br />
    <div class="login-footer">
      <div class="forgot-pass">
        <a href="">FORGOT PASSWORD</a>
      </div>
      <div>New Here? <a href="/register">REGISTER</a></div>
    </div>
  </div>
</div>
