.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0%;
  background-color: hsla(300, 7%, 8%, 0.329);
  min-height: 100vh;
}

.form-header {
  margin: 30px;
  text-align: center;
}

form {
  margin-top: 10px;
  padding: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: hsla(300, 18%, 11%, 0.943);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: hsla(300, 43%, 28%, 0.943);
}
