<div class="container">
  <div class="form-header">
    <h2>Create a new Account</h2>
    <p>It's so quick and easy</p>
  </div>

  <div class>
    <form
      action="#"
      method="post"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <label for="firstName"><strong>Firstname:</strong></label>
      <input
        type="text"
        id="firstName"
        name="lastName"
        required
        formControlName="firstName"
      />
      <i
        style="color: tomato"
        *ngIf="
          registerForm.controls['firstName'].invalid &&
          (registerForm.controls['firstName'].dirty ||
            registerForm.controls['firstName'].touched)
        "
      ></i>

      <label for="lastName"><strong>Lastname:</strong></label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        required
        formControlName="lastName"
      />
      <i
        style="color: tomato"
        *ngIf="
          registerForm.controls['lastName'].invalid &&
          (registerForm.controls['lastName'].dirty ||
            registerForm.controls['lastName'].touched)
        "
      ></i>

      <label for="email"><strong>Email:</strong></label>
      <input
        type="email"
        id="email"
        name="email"
        required
        formControlName="email"
      />
      <i
        style="color: tomato"
        *ngIf="
          registerForm.controls['email'].invalid &&
          (registerForm.controls['email'].dirty ||
            registerForm.controls['email'].touched)
        "
      ></i>

      <label for="password"><strong>Password:</strong></label>
      <input
        type="password"
        id="password"
        name="password"
        required
        formControlName="password"
      />
      <i
        style="color: tomato"
        *ngIf="
          registerForm.controls['password'].invalid &&
          (registerForm.controls['password'].dirty ||
            registerForm.controls['password'].touched)
        "
      ></i>

      <label for="confirmPassword"><strong>Confirm Password:</strong></label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
        formControlName="password"
      />
      <i
        style="color: tomato"
        *ngIf="
          registerForm.controls['password'].invalid &&
          (registerForm.controls['password'].dirty ||
            registerForm.controls['password'].touched)
        "
      ></i>
      <br />

      <button
        type="submit"
        [disabled]="registerForm.invalid || loading"
        class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300"
      >
        {{ loading ? "Registering..." : "Register" }}
      </button>
    </form>
  </div>
</div>
