.event-ticket-purchase-container {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  min-height: 100vh;
}

.event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 100%;
  width: 350px;
  margin: 5px;
}

.info-header {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 20px;
  font-style: italic;
  color: brown;
}

h2 {
  font-size: 15px;
}

h3 {
  color: rgb(169, 82, 82);
}

.info-body {
  display: flex;
  flex-direction: column;
}

/* .info-footer {
} */

button {
  background-color: burlywood;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  color: brown;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
button:hover {
  background-color: rgb(138, 84, 18);
  color: white;
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
