.event-ticket-purchase-container {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  min-height: 100vh;
}

.event-info {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 550px;
  width: 350px;
}

.info-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.venue-time {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  font-style: italic;
  color: brown;
}

h2 {
  font-size: 12px;
}

h3 {
  color: rgb(169, 82, 82);
}

.info-body {
  display: flexbox;
  justify-content: center;

  padding: 2px 32px;
}

button {
  background-color: burlywood;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  color: brown;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 8px 8px;
}
button:hover {
  background-color: rgb(138, 84, 18);
  color: white;
}

/* .center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
} */
