.home-page {
  background-color: hsla(300, 7%, 8%, 0.329);
  min-height: 100vh;
}
.logo-div {
  margin-left: 50px;
}

/* .nav-bar {
  padding: 20px;
  height: 20px;
  background-color: hsla(300, 18%, 11%, 0.943);
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

button {
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: hsla(300, 7%, 8%, 0.329);
  border-radius: 5px;
  border: solid 0.1px white;
  padding: 10px;
}
button:hover {
  background-color: white;
  color: hsla(300, 7%, 8%, 0.329);
  border-color: hsla(300, 18%, 11%, 0.943);
}

.home-body {
  margin: 100px;
  text-align: center;
}
