<div class="home-page">
  <nav class="nav-bar">
    <div class="logo-div">
      <h1 class="logo-name">DP</h1>
      <h5 class="logo-theme">Organizing your events</h5>
    </div>
    <div>
      <form>
        <button
          class="btn btn-outline-primary round-button mx-2"
          type="button"
          routerLink="/login"
        >
          LOGIN
        </button>
        <button
          class="btn btn-success round-button"
          type="button"
          routerLink="/register"
        >
          REGISTER
        </button>
      </form>
    </div>
  </nav>
  <div class="home-body">
    <h1>EASY EVENTS BOOKING APP</h1>
    <p>
      Kindly register to create an account with us and make use of our
      Application
    </p>
  </div>
</div>
