<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel" mat-dialog-title>
    Create Your Event
  </h5>
</div>
<mat-dialog-content class="mat-typography">
  <div class="event-body">
    <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
      <label for="name">Event Name:</label>
      <input type="text" formControlName="eventName" required />

      <label for="venue">Event Venue:</label>
      <input type="text" formControlName="eventVenue" required />

      <label for="no.of tickets">no. of ticket</label>
      <input type="number" formControlName="totalTickets" required />

      <label for="event-date">Event Date:</label>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matInput
            matStartDate
            placeholder="Start date"
            formControlName="startDate"
          />
          <input
            matInput
            matEndDate
            placeholder="End date"
            formControlName="endDate"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field> -->

      <label for="event-time">Event Time:</label>
      <input type="time" formControlName="eventTime" required />
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    type="submit"
    [disabled]="createEventForm.invalid || loading"
    class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300"
  >
    {{ loading ? "Creating Event..." : "Create Event" }}
  </button>
</mat-dialog-actions>

<!-- <div class="modal-footer">
  <button type="button" class="btn btn-secondary">Close</button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div> -->

<!-- (click)="modalRef.close()" from line 7, (click)="modalRef.close()" from line 12 -->
